.container{
    background-image: url(../imagen/header.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 600px;
}
h2{
    font-size: 40px;
}
.navegacion {
    display: flex;
    justify-content: flex-end;
    margin-left: 65%;
}
.navegacion a{
    color: white;
    text-decoration: none;
    margin: 10px 20px;
    margin-top: 0%;
    
}
.seccion{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.article1{
    border: 1px solid black;
    width: 400px;
    margin-top: 4%;
}
.pie{
    background-color: black;
    color: white;
}

.header2 {
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
}
.header2 a{
    color: white;
    text-decoration: none;
    margin: 10px 20px;
    margin-top: 0%;
    
}
.fot{
    text-align: center;
}